@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Gilroy', sans-serif;
}

.rubik {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  size: 24px;
  line-height: 28.44px;
  font-style: normal;
}

.gilroy-bold {
  font-family: 'Gilroy-Bold', sans-serif;
}

.gilroy-light {
  font-family: 'Gilroy-Light', sans-serif;
}
